:root {
    --cor1:#72348E;
    --cor2:#B282F2;
    --cor3:#3BD0F3;
    --cor4:#05B7EB;
    --cor5:#0AAADD;
}
#habilidades {
    background-color: var(--cor1);
}

.habilidades-pd {
    padding-top: 93px;
}

.habilidades-pd h2 { 
    text-align: center;
    padding-bottom: 70px;
}

.skills-descricao {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap:50px;
    padding-bottom: 70px;
}

.conteiner-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
    max-width: 55%;
}

.skill-box {
    height: 106px;
    width: 106px;
    background-color: #C4C4C4;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.3s;
}

.skill-box:hover {
    background-color: white;
    transform: scale(1.05);
}

.conteiner-descricao {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    max-width: 40%;
}

@media (max-width:1200px) {

    .conteiner-descricao {
        height: 260px;
    }

    #habilidades {
        display: flex;
        justify-content: center;
    }

    .skills-descricao {
        display: flex;
        flex-direction: column-reverse;
        /* width: 535px; */
        margin: 0 auto;
        gap:50px;
        padding-bottom: 70px;
        align-items: center;
    }

    .skills-descricao p {
        text-align: center;
    }

}
@media (max-width:950px) {
    .conteiner-skills {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 37px;
        max-width: 300px;
    }

    .conteiner-descricao {
        max-width: 300px;
        height: 120px;
    }
    .habilidades-pd {
        padding-top: 0px;
    }
    .habilidades-pd h2 {
        padding-bottom: 20px;
    }

}

.skill-box .icones-habilidades {
    transition: ease-in-out 0.3s;
}

.skill-box:hover .icones-habilidades {
    opacity: 0;
}

.skill1{
    background-image: url(../imagens/icons8-html5-96.png);
}

.skill2 {
    background-image: url(../imagens/icons8-css3-96.png);
}

.skill3 {
    background-image: url(../imagens/icons8-javascript-96.png);
}

.skill4 {
    background-image: url(../imagens/icons8-reagir-80.png);
}

.skill5 {
    background-image: url(../imagens/icons8-bootstrap-96.png);
}

.skill6 {
    background-image: url();
}

.skill7 {
    background-image: url(../imagens/icons8-reagir-80.png);
}

.skill8 {
    background-image: url(../imagens/icons8-bootstrap-96.png);
}

.skill9 {
    background-image: url(../imagens/icons8-git-96.png);
}


.skill10 {
    background-image: url(../imagens/icons8-python-96.png);
}

.skill11 {
    background-image: url();
}

.skill12 {
    background-image: url();
}

.skill13 {
    background-image: url(../imagens/icons8-php-80.png);
}

#fundo {
    fill: red;
}

